<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>Masquerade - Step into your story.</title>
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body>   
  <section id="app"></section>

  <div id="error-popup" class='hidden'>
    <h3><span id="error-message"></span></h3>
  </div>
  <script src="/assets/loginBundle.js"></script>
</body>
</html>
